body {
	background: gray;
}
 
header {
	
	/*align-content: column;*/
}

header > h1 {
	/*flex-basis: 100%;*/
}

header div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}

a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	text-decoration-color: black;
}
